# Some needed for another repo. This is comprehensive.
accelerate 
backoff 
bitsandbytes 
chapterize 
datasets 
deepspeed 
einops 
evaluate 
flash_attn 
huggingface-hub 
loguru 
peft 
protobuf==3.20.3 
requests 
scikit-learn 
sentencepiece 
tqdm 
transformers==4.37.2 
wandb

